# Dependencies
node_modules/

# Build
dist/
.angular/

# Environment
src/environments/environment.ts
src/environments/environment.prod.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Misc
.cache/
*.tgz
